body {
   background-color: #3B3A35;
   font-family: 'Montserrat', sans-serif;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    margin-top: 20px;
}
a,
a:focus,
a:hover {
    text-decoration: none;
    color: #4D4D50;
    cursor: pointer;
}
.userList li:hover {
    background: rgba(13, 201, 247, 0.1);
}
/*=======================================
Navigation
=======================================*/
.main-nav {
    width: 100%;
    background-color: #0DC9F7;
    border-radius: 5px 5px 0 0;
    border: 1px solid #0DC9F7;
    border-bottom: none;
    font-weight: bold;
}
.nav-tabs {
    width: 100%;
    text-align: center;
}
.nav-tabs li {
    width: 33.33339%;
}
.nav-tabs li a {
    color: white;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #0DC9F7;
}
.nav-tabs>li>a:hover {
    border: none;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}
/*=======================================
List of twitch streamers
=======================================*/
.user-list {
    background-color: #FFFFFF;
    border: 1px solid #0DC9F7;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.user-list li {
    padding: 15px;
}
.user-list img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
}
.list-group-item-text {
    font-size: 10px;
}
.online h4 {
    color: #8BAD39;
}
.offline h4 {
    color: #F05B47;
}
.unavailable {
    cursor: not-allowed;
}
